{% extends "blog/base.html" %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
	
	
	
	<p>{{ posts.emp_file }}</p>
	{% for det in mydet %}
	    <div>
		
		<h1>Certificate Name: {{ det.certificate_name }}</h1>
		<h1>Certificate No: {{ det.certificate_no }}</h1>
		<h1>Issued Date:: {{ det.issue_date }}</h1>
		<h1>Expired Date: {{ det.expired_date }}</h1>
		
		<img src="{{det.docfile.url }}" alt="{{ post.docfile.name }}">
		<!--<h1><a href="">{{ post.emp_code }}</a></h1>
		<p>{{ post.emp_first_name|linebreaks }}</p>-->
		
	    </div>
	{% endfor %}
	
          

	<h1>{{ post.emp_code }} {{ post.emp_first_name }} {{ post.emp_last_name }} {{ post.emp_file }} </h1>
        <p>{{ post.text|linebreaks }}</p>
    </div>
{% endblock %}