{% extends "blog/base.html" %}

{% block content %}
<h1>{{selected_date}}</h1>
   <form method='POST'>{% csrf_token %}
		<p>Date: <input type="text" name='datepick' id="datepicker"></p>
    <button type="submit" name="btnform1">Change day</button>
    </form>
  
    <h1>Hello {{user.username}} </h1>
    <form method="POST" class="post-form">{% csrf_token %}
	      <!-- {{ form.as_p }} -->
	      {% for field in form %}
	      	<br>
	      	{{field.label_tag}}
	      	{{field}}
	      	{% if field.name == 'project_field' %}
	      		<a href="/projects/">Add Project</a>
	      	{% endif %}

	      {% endfor %}
	      <input type="hidden" name="date_hidden" value={{selected_date}}>
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    <h4 class='hours'>Total Log for the Day: {{hours}} Hours</h1>
	<h4 class='hours'>Total log for the Month: {{monthly_hours}} Hours</h1>
	<table border=1  style="width:100%">
	<tr>
	<th>Duration</th>
	<th>Project</th> 
	<th>Remarks</th>
	</tr>
	
	{% for v_post in posts %}
		
		{% if v_post.is_late %}
			<tr style="color:red">
		{% else %}
			
			<tr>
		{% endif %}
	
		
		    <td>{{ v_post.duration_time }}h</td>
		    <td>{{ v_post.project_field }}</td>
		    <td>{{ v_post.remarks_field }} </td>
		</tr>
	
		
	{% endfor %}

	</table>
	
{% endblock %}